temp*
# Ignoring temp files and folders

#	.gitignore
# Ignoring .gitignore file


###############################
###############################
###############################
#####                     #####                       
##### *                   #####    
#####                     #####    
##### !*/                 #####    
#####                     #####     
##### !*.*                #####     
#####                     #####         
###############################
###############################
###############################

